[user]
	email = eczenave@entrouvert.com
	name = Emmanuel Cazenave

[alias]
co = checkout
br = branch
ci = commit
st = status
last = log -1 HEAD
ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
fl = log -u
lg1 = log --graph --oneline --all --decorate
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[gitreview]
	username = cazino
[core]
	excludesfile = /home/cazino/.gitignore_global
